.button {
  user-select: none;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.button:hover {
  opacity: 1;
}
.shadow_black.button:hover {
  box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.7);
}

.shadow_white.button:hover {
  box-shadow: 0 4px 12px 4px rgba(255, 255, 255, 0.7);
}
.button:active {
  opacity: 1;
  transform: translateY(4px);
}
.shadow_black.button:active {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 1);
}
.shadow_white.button:active {
  box-shadow: 0 2px 4px 2px rgba(255, 255, 255, 1);
}

.icon {
  display: flex;
  user-select: none;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  align-items: center;

  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.icon > img {
  // display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.icon > p {
  margin: auto;
}
.button.shadow_black,
.icon.shadow_black {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.7);
}

.button.shadow_white,
.icon.shadow_white {
  box-shadow: 0 4px 8px 4px rgba(255, 255, 255, 0.7);
}
.font_shadow_black {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7), 0 1px 3px rgba(0, 0, 0, 0.9);
}
.font_shadow_white {
  text-shadow: 0 4px 8px rgba(255, 255, 255, 0.7),
    0 1px 3px rgba(255, 255, 255, 0.9);
}

.button.size_small {
  padding: 5px;
  width: 50px;
  height: 30px;
}
.icon.size_small {
  width: 20px;
}
.button.size_medium {
  padding: 5px;
  width: 75px;
  height: 40px;
}
.icon.size_medium {
  width: 30px;
}
.button.size_large {
  padding: 5px;
  width: 120px;
  height: 50px;
}
.icon.size_large {
  width: 50px;
  min-width: 30px;
}

.font_small {
  font-size: 10px;
}
.font_medium {
  font-size: 14px;
}
.font_large {
  font-size: 20px;
}
.font_extraLarge {
  font-size: clamp(20px, 1.5rem + 2vw, 40px);
}
.button.smooth,
.icon.smooth {
  border-radius: 7px;
}
.button.round,
.icon.round {
  border-radius: 50%;
}
// .button > * {
// }
// .glass {
// }

.glass {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  backdrop-filter: blur(3px);
}
.grey {
  background-color: rgb(93, 93, 93);
  color: white;
  border: solid 1px rgb(54, 53, 53);
}
.brick {
  background-color: rgba(199, 75, 41, 1);
  color: white;
}

.link {
  color: darkblue;
}
.link:hover {
  text-decoration: underline;
}
.link:visited {
  color: purple;
}

.active {
  color: rgb(236, 238, 107);
}
