.container {
  border: 2px solid black;
  display: flex;
  height: 70vh;
}
.grid {
  height: 100%;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid > * {
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
