.expandContainer {
  position: relative;
}
.mainContainer {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.389);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 4px 16px 10px rgba(0, 0, 0, 0.9);
  }
}
.buttonContainer {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  grid-area: button;
  transition: all 0.3s ease-in-out;
}
.imgContainer {
  width: 100%;
  height: 250px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  border-radius: 2px;
}

.imgContainer img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
}
.cardBot {
  display: grid;
  grid-template-areas:
    "name name name name"
    "author author author year"
    ". price price ."
    "button button button button";
  grid-template-rows: 58px 0px 30px 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: all 0.3s ease-in-out;
}
.mainContainer:hover .cardBot,
.mainContainer:focus-within .cardBot {
  transition: all 0.3s ease-in-out;
  grid-template-rows: 58px 25px 30px 63px;
}
.mainContainer:hover .buttonContainer,
.mainContainer:focus-within .buttonContainer,
.mainContainer:hover .autor,
.mainContainer:focus-within .autor {
  transition: all 0.3s ease-in-out;
  display: flex;
}
.mainContainer:hover,
.mainContainer:focus-within {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.title {
  padding: 10px 0;
  grid-area: name;
  justify-content: center;
  cursor: pointer;
}

.title p {
  user-select: none;
  line-height: 0.9;
  text-shadow: 0 4px 8px rgba(255, 255, 255, 0.7), 0 1px 3px rgba(0, 0, 0, 0.9);
  font-size: 14px;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-align: center;

  height: 100%;
}

.title:focus:hover p {
  display: block;
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
}

.title:focus:hover ~ .autor p,
.title:focus:hover ~ .year p,
.title:focus:hover ~ .price p,
.title:focus:hover ~ .price span {
  filter: blur(40px);
}

.autor {
  display: none;
  grid-area: author;
  justify-content: center;
  width: 85%;
  transition: all 0.3s ease-in-out;
}
.autor p {
  user-select: none;
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  height: 100%;
  color: rgb(62, 62, 62);
  text-shadow: 0 4px 8px rgba(255, 255, 255, 0.7),
    0 1px 3px rgba(255, 255, 255, 0.9);
}
.year {
  grid-area: year;

  height: 100%;
}
.year p {
  user-select: none;
  font-size: 10px;
  text-align: end;
  color: rgb(62, 62, 62);
  text-shadow: 0 4px 8px rgba(255, 255, 255, 0.7),
    0 1px 3px rgba(255, 255, 255, 0.9);
}

.price {
  display: flex;
  align-items: end;
  justify-content: center;
  grid-area: price;
}
.price p {
  user-select: none;
  font-size: 20px;
  color: rgb(255, 207, 95);
}

.smollPrice {
  user-select: none;
  padding-top: 3px;
  align-self: center;
  font-size: 11px;
  color: rgb(255, 207, 95);
}
